

.ModifiedFiles {
  flex-shrink: 0;
  width: 350px;
}

.ModifiedFiles .CommitInfo {
  font-size: large;
}

.ModifiedFiles .diffFile {
  padding: 3px;
  cursor: default;
}

.ModifiedFiles .diffFile:hover {
  background-color: #efefef;
}

.ModifiedFiles .diffFile.selected {
  background-color: #dfdfdf;
}

.ModifiedFiles .listAndChanges {
  display: flex;
  justify-content: space-between;
}