

.Changes {
  min-width: 200px;
  flex-grow: 1;
}

.Changes .changesForFile {
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  white-space:pre;
  font-size: 13px;
}
